<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>challanges</title>
</head>
<body>

<ul style="display: flex; justify-content: center; color: blue;">
   <li style="display: flex;padding: 20px;"> <a href="">home   </a></li>
   <li style="display: flex;padding: 20px;"> <a href="">about  </a></li>
   <li style="display: flex;padding: 20px;"> <a href="">contact </a></li>
</ul>
    
</body>
</html>