<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post" style="display: block; align-items: center; padding-left: 300px;">
  <div>
    <label for="postTitle" style="color: blue; font-size: xx-large; font-weight: bold; padding: 16px ;display: block; align-items: center;">Title</label>
    <input type="text" name="postTitle" />
  </div>

  <div style="color: blue; font-size: xx-large; font-weight: bold; padding: 16px ;display: block; align-items: center;">
    <label for="post">Post</label>
    <textarea name="postBody" id="" cols="30" rows="5" style="display: block; align-items: center;"></textarea>
    <button type="submit" style="background-color:  #33b249;">Publish</button>
  </div>
</form>

<%- include("partials/footer"); -%>
